.card {

  @apply w-max
    flex
    border
    border-solid
    border-purple-500
    rounded-xl ;
 }
 
 .card img {

  @apply aspect-square
    w-48
    rounded-tl-xl
    rounded-bl-xl
    md:w-36;
 }

 .card > div {

  @apply w-40
    flex
    flex-col
    justify-center
    items-center
    gap-4
    rounded-tr-xl
    rounded-br-xl
    bg-marine-600
    md:w-32 ;

 }

 .card > div h2 {

  @apply font-semibold
    text-xl
    text-purple-200
    md:text-base ;

 }

 .card > div nav {

  @apply w-max
    h-max
    flex
    justify-center
    items-center ;

 }

 .card > div a {

  @apply font-medium
    py-1
    px-4
    border
    border-solid
    border-gray-300
    rounded-xl
    hover:border-purple-200
    hover:text-purple-200
    hover:scale-90
    transition-all
    md:text-xs ;

 }
