.navigation {

  @apply fixed
    w-max
    h-full
    px-3
    bottom-0
    flex
    flex-col
    justify-center
    items-center
    gap-5
    bg-marine-600
    border-0
    border-r
    border-solid
    border-purple-500
    z-50
    md:w-16 ;
}

.navigation a {

  @apply w-max
    flex
    flex-col
    justify-center
    items-center
    cursor-pointer ;
}


.navigation a svg {

  @apply aspect-square
    min-w-[40px]
    transition-all
    hover:scale-90
    md:min-w-[8px]
    md:w-8 ;
}


.navigation a span {

  @apply font-semibold
  md:text-xs ;
}
