.container-explore {
  @apply flex
    flex-col
    justify-center
    items-center
    pt-40
    min-h-screen
    ml-24
    md:ml-16
    md:pt-20 ;
}

.user-list {
  
  @apply flex
    flex-wrap
    justify-center
    items-center
    gap-20
    w-2/3
    md:w-11/12 ;
}

.error-message {
  @apply text-red-700
    text-3xl
    font-semibold
}

.container-explore h3 {
  
  @apply my-20
    text-3xl
    font-semibold
    md:text-xl
    md:my-10 ;
}
